.landing {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./components/shared/media/images/SymphonyHall.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.div {
  height: 102vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./components/shared/media/images/2019Recital.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(111vh);
  overflow-y: auto;
}

.title {
  color: #FEBE2A;
  font-size: 30pt;
  opacity: .6;
  padding-bottom: 20px;
}

.landing hr {
  color: grey;
}

.watermark {
  background-color: #000000;
  opacity: .95;
  padding-top: 40px;
  padding-bottom: 40px;
}

.media{
  background-color: #000000;
  opacity: .93;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.div video {
  width: 400px;
  margin-top: -10px;
  margin-left: 10px;
  margin-right: 10px;
}
