.landing {
  background-image: url('./components/shared/media/images/2019Recital.jpg');
  background-size: cover;
  background-position: center;
  opacity: .7;
  height: 100vh;
}

.div {
  background-color: #1A1A1A;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.seg {
  opacity: .7;
}

.background {
  background-color: #1a1a1a;
  background-size: cover;
  background-position: center;
  height: inherit;
}
