.landing {
  background-image: url('./components/shared/media/images/SymphonyHall.png');
  background-size: cover;
  background-position: center;
  opacity: .7;
  height: 100vh;
}

.div {
  height: 100vh;
}

.landing hr {
  color: grey;
}

.background {
  background-color: #1E1E1E;
  background-size: cover;
  background-position: center;
}
